body {
  justify-content: center;
  font-family: 'M PLUS 1p', sans-serif;
  margin: 0;
}

.calendar-container.night {
  background-color: black;
  width: 100vmax;
  height: 100vmin;
}

.calendar-container {
  transform: scale(0.99);
  width: 100vmax;
}

.month-block {
  border-top: 0.1vmax solid rgba(109, 109, 109, 0.527);
  border-bottom: 0.1vmax solid rgba(109, 109, 109, 0.527);
}

.month {
  display: flex;
}

.month h1 {
  color: rgba(109, 109, 109, 0.527);
  font-weight: 200;
}

.night .month strong {
  color: white;
}

.month strong {
  color: black;
}

.day-names {
  display: flex;
  justify-content: center;
  height: 3vmax;
}

.day-names div {
  width: 15vmax;
  height: 4vmax;
  font-size: 2vmax;
}

.weekdays {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.month-block .weekdays {
  height: 3vmax;
}

.weekdays div {
  font-size: 1.5vmax;
}

.night .day-names div {
  color: white;
}

.days-numbers {
  width: 100vmax;
  display: flex;
  flex-direction: row;
}

.days-numbers div {
  position: relative;
  width: 14.2vmax;
  height: 4vmax;
  border-right: 0.1vmax solid rgba(109, 109, 109, 0.527);
  border-bottom: 0.1vmax solid rgba(109, 109, 109, 0.527);
}

.night .days-numbers div {
  color: white;
}

.different-months {
  color: rgba(109, 109, 109, 0.527);
}

.weekends-names {
  color: rgba(109, 109, 109, 0.527);
}

.weekends {
  color: rgba(107, 107, 107, 0.527);
  background-color: rgb(230, 230, 230);
}

.night .weekends {
  background-color: rgb(46, 46, 46);
}

.check-block {
  display: flex;
  justify-content: center;
  width: 2%;
  transform: translateY(2vmax);
}

.night .check-block {
  color: white;
}

input[type="checkbox"] {
  display: none;
}

label {
  padding-left: 2%;
}

label::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2vmax;
  background-color: black;
  margin-right: 1%;
  transition: 0.5s;
}

input[type="checkbox"]:checked+label::before {
  background-color: white;
  border-radius: 50%;
}

.holidays {
  margin: 0;
  position: absolute;
  bottom: 0;
  margin-left: 25%;
  margin-bottom: 8%;
  color: red;
  font-size: 1.3vmax;
}

.days-numbers .today {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.7vmax;
  height: 1.7vmax;
  background-color: red;
  border-radius: 50%;
  color: white;
  border: 0;
  outline: 0;
  padding: 2%;
  font-size: 1.3vmax;
  position: absolute;
  left: 1%;
  top: 5%;
}